<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
    Nfc permission to access the NFC hardware.
    -->
    <uses-permission android:name="android.permission.NFC" />
    <!--
    Allow the application shows up in Google Play only for devices that have NFC hardware.
    -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
</manifest>